{% extends 'front/_base.html.twig' %}
{% from '_macros/alert.html.twig' import alert %}

{% block listing 'featured' %}

{% block front_alerts %}
  {% if is_granted('ROLE_USER') %}
    {% if app.user.frontPage == 'subscribed' and app.user.subscriptions|length == 0 %}
      {{ alert('front.no_subscriptions'|trans) }}
    {% endif %}
  {% endif %}
{% endblock front_alerts %}

{% block sidebar %}
  {{ parent() }}

  <section class="sidebar__search sidebar-card">
    {% set active %}{% block site_nav_active '' %}{% endset %}
    {{ block('site_nav_search') }}
  </section>

  <section class="sidebar__section sidebar-card">
    <h1 class="sidebar__title">{{ site_name() }}</h1>

    <p class="text-md">
      Welcome to <a href="{{ path('front') }}">cumtown.org</a>
    </p>
    <p class="text-sm">
      Listen: <a href="https://shoutengine.com/CumTown/">https://shoutengine.com/CumTown</a><br>
      Support: <a href="https://patreon.com/cumtown">https://patreon.com/cumtown</a><br>
      Discord: <a href="https://discord.gg/jyZPbs7">/discord.gg/jyZPbs7</a><br>
      IRC: <a href="https://kiwiirc.com/client/irc.freenode.net/cumtown">irc.freenode/cumtown</a>
    </p>
  </section>
{% endblock sidebar %}
